
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carre {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2%;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(88, 70, 108, 0.37);
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 7%;
}

form {
    margin-left: 22%;
}


.btn {
    margin-left: 16%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgba(86, 86, 86, 0.2);
    border: 0px;
    border-radius: 100px;
    padding: 6% 12% 6% 12%;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(170, 170, 170, 0.3);
}



/* Page Traitement */

.container {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 16px 0 rgba(88, 70, 108, 0.37);
    width: 600px;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 2%;
}